.imgJere{
    width: 40%;
    border: 3px solid white;
    border-radius: 50%;
}

.cadre{
    width: 20%  ;
    border-radius: 5%;
    background-color: rgba(29,32,75,255);
}

.presentation{
    background-color: rgba(87,70,234,255);
    height: 70%;
    padding-top: 5%;
    padding-bottom: 5%;
    border-radius: 5%;
}

.sousPresentation{
    background-color: rgba(29,32,75,255);
    font-size: xx-small;
}

.btnA{
    color: rgba(96,99,159,255);

}

.txtSousImg{
    color: hsl(236, 100%, 87%);
    font-size: xx-small;
}

.h1Jeremy{
    font-size: x-large;
}


