body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.englobante{
  margin-top: 10% !important;
  background-color: rgba(13,19,35,255);
  padding: 3%;
}

.work{
  background-color: rgba(255,139,100,255);
}


.play{
  background-color: rgba(86,194,230,255);
}

.study{
  background-color: rgba(255,94,124,255);
}

.exercise{
  background-color: rgba(75,207,131,255);
}

.social{
  background-color: rgba(114,53,209,255);
}

.self{
  background-color: rgba(241,198,91,255);
}








